:root{
    --bg-button: #E6E6E6;
    --border-button: 1px solid #b9b9b9;
}

.button {
    font-size: 1.4em;
    background-color: var(--bg-button);
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
}

.button:active {
    background-color: #5b5b5b;
}

.button.double{
    grid-column: span 2;
    border-radius: 0 0 0 10px;
}

.button.triple{
    grid-column: span 3;
}

.button.operation{
    background-color: #fa8231;
    color: white;
}

.button.operation:active{
    background-color: #fc6e0fc1;
    color: white;
}

.button.borderRight{
    background-color: #fa8231;
    color: white;
    border-radius: 0 0 10px 0;
}

.button.borderRight:active{
    background-color: #fc6e0fc1;
    color: white;
}