@font-face{
  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-Thin.ttf')
}

*{
  font-family: 'RobotoMono';
}

body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: white;
  background: radial-gradient(circle, rgba(176,181,230,1) 0%, rgba(0,0,0,1) 100%);
}